
/*-----------------------------------*/
/*BASIC SETUP*/
/*-----------------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'lato' , 'Arial' , 'sans-serif';
  font-size: 20px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}

/*-----------------------------------*/
/*HEADINGS*/
/*-----------------------------------*/

h1,
h2 {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 200%;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-spacing: 4px;
}

/*-----------------------------------*/
/*BUTTONS*/
/*-----------------------------------*/

.btn {
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
}


/*-----------------------------------*/
/*HEADER*/
/*-----------------------------------*/

.hero-image {
		background-size: cover;
		background-position: center;
		height: 100vh;
		background-color: #363639;
		color: #BFBFB4;
}

/*-----------------------------------*/
/*CONTAINERS*/
/*-----------------------------------*/

.wrapper {
	background-size: cover;
	height: 100vh;
}

#work {
	background-color: #363639;
	color: #BFBFB4;
}

/*-----------------------------------*/
/*CONTACT FORM*/
/*-----------------------------------*/



/*-----------------------------------*/
/*FOOTER*/
/*-----------------------------------*/

.footer {
	height: 25vh;
	background-color: #363639;
	color: #BFBFB4;
}




