/*-----------------------------------*/
/*CSS RESET*/
/*-----------------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*-----------------------------------*/
/*VARIABLES*/
/*-----------------------------------*/
:root {
	--primary: #ddd;
	--dark: #333;
	--light: #fff;
	--shadow: 0 1px 5px rgba(104 104 104 0.8);
}

/*-----------------------------------*/
/*MAIN STYLES*/
/*-----------------------------------*/

body {
	font-family: 'lato' , 'Arial' , 'sans-serif';
	color: var(--dark);
  font-size: 20px;
	font-weight: 300;
	line-height: 1.4;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}

.wrapper {
	display: grid;
}

/*-----------------------------------*/
/*NAVIGATION*/
/*-----------------------------------*/
a {
	color: var(--dark);
	text-decoration: none;
}

ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

.main-nav {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	padding: 0;
	margin-top: 0;
}

.main-nav a {
	background: var(--light);
	color: var(--dark);
	display: block;
	padding: 0.8rem;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.8rem;
}

.main-mnav li:hover {
	background-color: azure;
}
/*-----------------------------------*/
/*HEADER*/
/*-----------------------------------*/

.showcase {
	text-align: justify;
	padding: 16em 7em 10em 8em;
}

.header-container {
	min-height: 100vh;
}

/*-----------------------------------*/
/*ABOUT SECTION*/
/*-----------------------------------*/
.about-container {
	display: grid;
	grid-gap: 10px;
	border: 1px solid lightslategray;
	text-align: center;
	padding: 0px 40px 20px 40px;
	min-height: 50vh;
	
}

.info-boxes {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	padding: 10px;
	align-content: center;
	text-align: center;
}

/*-----------------------------------*/
/*PROJECTS SECTION*/
/*-----------------------------------*/

.project-section {
	display: grid;
	grid-gap: 10px;
	border: 1px solid lightslategray;
	min-height: 50vh;
}


/*-----------------------------------*/
/*CONTACT SECTION*/
/*-----------------------------------*/

.contact-section {
	display: grid;
	grid-gap: 10px;
	border: 1px solid lightslategray;
	min-height: 50vh;

}

/*-----------------------------------*/
/*FOOTER*/
/*-----------------------------------*/

.footer {
	display: grid;
	grid-gap: 10px;
	border: 1px solid lightslategray;
	min-height: 30vh;
}

/*-----------------------------------*/
/*HEADING-TAGS*/
/*-----------------------------------*/

h1,
h2 {
	margin: 0;
	font-size: 200%;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-spacing: 4px;
}

h2 {
	display: block;
	text-align: center;
	padding: 30px 0;
	margin: 0;
}

/*-----------------------------------*/
/*BUTTONS*/
/*-----------------------------------*/



/*-----------------------------------*/
/*IMAGES*/
/*-----------------------------------*/



/*-----------------------------------*/
/*CONTACT FORM*/
/*-----------------------------------*/

/*-----------------------------------*/
/*FOOTER*/
/*-----------------------------------*/





